/* ==============
   Global Styling 
   ============== */
body {
  font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* ==============
   Main Navigation 
   ============== */
.main-nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  background-color: #e0b8b8;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
}
/* ==============
   Hero Section 
   ============== */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.text-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
}

/* ==============
   Projects Grid On Homepage 
   ============== */

.gridcontainer {
  display: grid;
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  grid-template-columns: auto auto auto;
  background-color: dodgerblue;
  padding: 10px;
}

/* ==============
   About Page 
   ============== */
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: beige;
  width: 50%;
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
}

/* Circles on timeline*/
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place container on the left */
.left {
  left: 0%;
}

/* Place container on the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid beige;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent beige;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid beige;
  border-width: 10px 10px 10px 0;
  border-color: transparent beige transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Make sure that all arrows are pointing leftwards */
.container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Make sure all circles are at the same spot */
.left::after,
.right::after {
  left: 15px;
}

/* Make all right containers behave like the left ones */
.right {
  left: 0%;
}

/* Colors to add later
 Darkest Green - #344E41
 Darker Green - #3A5A40
 Dark Green - #588157
 Light Green - #A3B18A
 Non Green - #DAD7CD
*/
